<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IGroupBuyActivityDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.GroupBuyActivity">
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="discount_id" property="discountId"/>
        <result column="group_type" property="groupType"/>
        <result column="take_limit_count" property="takeLimitCount"/>
        <result column="target" property="target"/>
        <result column="valid_time" property="validTime"/>
        <result column="status" property="status"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="tag_id" property="tagId"/>
        <result column="tag_scope" property="tagScope"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryGroupBuyActivityList" resultMap="dataMap">
        select * from group_buy_activity
    </select>

    <select id="queryValidGroupBuyActivity" parameterType="cn.bugstack.infrastructure.persistent.po.GroupBuyActivity"
            resultMap="dataMap">
        select
        activity_id, activity_name, discount_id, group_type, take_limit_count,
        target, valid_time, status, start_time, end_time, tag_id, tag_scope
        from group_buy_activity
        where status = 1
          and now() between start_time and end_time
        order by id desc
        limit 1
    </select>

    <select id="queryValidGroupBuyActivityId" parameterType="java.lang.Long" resultMap="dataMap">
        select
        activity_id, activity_name, discount_id, group_type, take_limit_count,
        target, valid_time, status, start_time, end_time, tag_id, tag_scope
        from group_buy_activity
        where activity_id = #{activityId} and status = 1
    </select>

    <select id="queryGroupBuyActivityByActivityId" parameterType="java.lang.Long" resultMap="dataMap">
        select
        activity_id, activity_name, discount_id, group_type, take_limit_count,
        target, valid_time, status, start_time, end_time, tag_id, tag_scope
        from group_buy_activity
        where activity_id = #{activityId}
    </select>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.GroupBuyActivity">
        insert into group_buy_activity
        (
            activity_id,
            activity_name,
            discount_id,
            group_type,
            take_limit_count,
            target,
            valid_time,
            status,
            start_time,
            end_time,
            tag_id,
            tag_scope,
            create_time,
            update_time
        )
        values
        (
            #{activityId},
            #{activityName},
            #{discountId},
            #{groupType},
            #{takeLimitCount},
            #{target},
            #{validTime},
            #{status},
            #{startTime},
            #{endTime},
            #{tagId},
            #{tagScope},
            now(),
            now()
        )
    </insert>

    <update id="updateByActivityId">
        update group_buy_activity
        <set>
            <if test="activityName != null and activityName != ''">
                activity_name = #{activityName},
            </if>
            <if test="discountId != null and discountId != ''">
                discount_id = #{discountId},
            </if>
            <if test="groupType != null">
                group_type = #{groupType},
            </if>
            <if test="takeLimitCount != null">
                take_limit_count = #{takeLimitCount},
            </if>
            <if test="target != null">
                target = #{target},
            </if>
            <if test="validTime != null">
                valid_time = #{validTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="tagId != null">
                tag_id = #{tagId},
            </if>
            <if test="tagScope != null">
                tag_scope = #{tagScope},
            </if>
            update_time = now()
        </set>
        where activity_id = #{activityId}
    </update>

    <delete id="deleteByActivityId" parameterType="java.lang.Long">
        delete
        from group_buy_activity
        where activity_id = #{activityId}
    </delete>

</mapper>
